.nun {
    background-image:url(vista-frontal-de-uma-saborosa-refeicao-de-sushi-em-fatias-de-rolos-de-peixe-com-wassabi-verde-e-palitos-na-parede-cinza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    text-align: center;
    font-family:monospace;
    color:yellow;
    font-size: 40px;

    }