body {
    background-image:url(front-view-tasty-sushi-meal-sliced-fish-rolls-with-green-wassabi-sticks-grey-wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family:monospace;
    color:white;
    }
